.mainchat
  .mainchat__header
    .mainchat__header__messageBox
      %p.chatroomname test

      .mainchat__header__editbtn
        Edit
    .mainchat__header__menberName
      Member:masa

  .mainchat__chatScreen
    .mainchat__chatScreen__Box
      .mainchat__chatScreen__infoBox
        .mainchat__chatScreen__infoBox__name
          masa
        .mainchat__chatScreen__infoBox__timestamp
          2020/05/01
      .mainchat__chatScreen__subTitle
        こんにちは〜

    .mainchat__chatScreen__Box
    
      .mainchat__chatScreen__infoBox
        .mainchat__chatScreen__infoBox__name
          masa
        .mainchat__chatScreen__infoBox__timestamp
          2020/05/01
      .mainchat__chatScreen__subTitle
        こんばんは

  .mainchat__chatText
    .mainchat__chatText__form
      .mainchat__chatText__form__textArea
        %p.type type a message
        .mainchat__chatText__form__addimage
          %label{class: "input-Box__image"}
            =icon('far fa-image', 'image', class: 'icon')
            %input{type: "file"}

      .mainchat__chatText__sendbtn
        Send