
.sidebar
  .sidebar__box
    .sidebar__box__namebox
      .sidebar__box__namebox__name
        %p.name masa
      .sidebar__box__namebox__icons
        %ul.editicons
          =link_to "#" do
            =icon('fas fa-L', 'edit', class: 'icon')      

          =link_to "#" do
            =icon('fas fa-L', 'cogs', class: 'icon')

 
  .chatrooms
    .chatrooms__chatroomsname
      %p.roomtitle techcamp
    .chatrooms__chattitle
      %p.roomtext まだメッセージがありません


  





