
.sidebar
  .sidebar__Box
    .sidebar__Box__nameBox
      .sidebar__Box__nameBox__name
        = current_user.name
      .sidebar__Box__nameBox__icons
        %ul.editicons
          =link_to "#" do
            =icon('fas fa-L', 'edit', class: 'icon')      

          = link_to edit_user_path(current_user) do
            =icon('fas fa-L', 'cogs', class: 'icon')

  .chatrooms
    .chatrooms__chatRoomsName
      %p.roomTitle techcamp
    .chatrooms__chatTitle
      %p.roomtext まだメッセージがありません


  





