
.sidebar
  .sidebar__Box
    .sidebar__Box__nameBox
      .sidebar__Box__nameBox__name
        = current_user.name
      .sidebar__Box__nameBox__icons
        %ul.editicons
          =link_to new_group_path do
            =icon('fas fa-L', 'edit', class: 'icon')      

          = link_to edit_user_path(current_user) do
            =icon('fas fa-L', 'cogs', class: 'icon')

  .chatrooms
    - current_user.groups.each do |group|
      .chatrooms__chatRoomsName
        = link_to '#' do
          = group.name
      .chatrooms__chatTitle
        %p.roomtext まだメッセージがありません


  





