* {
  box-sizing: border-box;

}

//二つを並べるやつ
.wrapper{
  display: flex;
  flex-direction: row;
}

.sidebar{

  width: 300px;

  &__box{
  background-color:#253141;
  padding: 0 20px;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;

 
  
  &__namebox{
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 260px;

    &__icons{
      height: 16px;
  
  
  
      i{
        font-size: 16px;
        color: #ffffff;
      }
  }

  
  }




}
  

}


.chatrooms
{
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding-left: 20px;

  &__chatroomsname{
   padding-top: 10px;
   font-size: 15px;
   color: #ffffff;
  }

  &__chattitle{
    margin-top: 5px;
    font-size: 11px;
    color: #ffffff;
   }
  
}



// 右の方
.mainchat{

  width: calc(100vw - 300px);


//上のチャットルームの名前が出るところ
  &__header{
  height: 100px;
  width: calc(100vw - 300px);
  background-color:#ffffff;
  font-size: 20px;
  padding: 35px 40px 0 40px;
  border-bottom: 1px solid #eee;

  position: relative;

  &__messagebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


// チャットルームの名前が出るところ
   &__namearea{
     display: flex;
     font-size: 20px;
   }

//editのボタン
  &__editbtn{
    height: 40px;
    width: 72px;
    background-color: #ffffff;
    color: #38aef0;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px #38aef0 solid;
    position: absolute;
    right: 40px;


  }


  &__menbername{
    color: #999999;
    font-size: 12px;
    position: absolute;
    bottom: 0;
  }

}





//チャットルームの本文が載るところ
  &__chatscreen{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;

    &__box{
      margin-bottom: 46px;
    }
    &__infobox{
      display: flex;

    

    &__name{
      color: #333333;
      font-size: 16px;
      font-weight: bold;

    }

    &__timestamp{
      font-size: 12px;
      color: #999999;


    }


  }


  &__subtitle{
    font-size: 14px;
    margin-top: 12px;

  }

  }






//チャットを書くところ
  &__chattext{
    height: 90px;
    background-color: #d2d2d2;


    &__form{
      background-color: #d2d2d2;
      display: flex;
      padding: 20px 40px;


      &__textarea{
        background-color: #ffffff;
        width: 100%;
        height: 50px;
        position: relative;
        margin-right: 15px;

        p{
          margin: 10px;
          color: #d2d2d2;
        }
      }

      &__addimage{
        width: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
        color: #333333;
        input{
          display: none;
        }

      }

     

    }
    &__sendbtn{
      width: 90px;
      background-color: #38aef0;
      text-align: center;
      line-height: 50px;
      color: #ffffff;
    }


  }
  

}
